@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

.App {
  font-family     : 'Nunito', sans-serif;
  background-image: url(./images/subtle-prism.svg);
  display         : block;
  position        : relative;
  padding-bottom  : 192.94px;
  min-height      : 100vh;
}


:root {
  --nav-color       : hsl(210, 11%, 15%);
  --nav-color-hover : hsl(210, 11%, 45%);
  --nav-border-color: hsl(210, 11%, 45%);
  --light-color     : hsl(209, 100%, 92%);
  --font-color      : hsl(0, 0%, 100%);
  --font-color-hover: hsl(0, 0%, 40%);
}


#tsparticles {
  height: 98vh;
}

.content-wrap {
  padding-bottom: 11rem;
  /* Footer height */
}

.mainContainer {
  padding      : 3rem;
  margin-bottom: 2rem;
}

.modalBorder {
  border: none;
}